{ ... }:
{
  config.pevcas = {
    backup = {
      port = 22;
      username = "user";
      hostname = "backuphost.eu";
    };
    zerotier = {
      enable = true;
      network-name = "0000000000000000";
    };
  };
}
